/* .app-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 16px;
  font-family: 'Inter', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  gap: 16px;
  box-sizing: border-box;
}


.page-top,
.page-mid,
.page-bottom {
  padding: 16px;
}

.page-top {
  flex: 0 0 auto;
  text-align: center;
}

.page-mid {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-bottom {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
} */
